<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p><div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sapiente rerum, debitis culpa sunt quos et in dicta nesciunt voluptatum obcaecati eos necessitatibus, fugit ad possimus expedita voluptates repellendus quidem?</div>
        <div class="">Beatae nesciunt minima totam vero eum saepe, nisi doloremque quae, placeat praesentium autem laudantium iure dolores molestias quaerat doloribus illo! Ut eaque doloribus autem voluptate laborum a fugit maiores voluptatibus.</div></p>
    </div>
</section>