<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and Mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis consequatur porro sed non. Totam, assumenda!</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis eligendi veritatis consequuntur placeat? Debitis excepturi cum tenetur ex perferendis quis?</p>
    <a href="#" class="btn btn-primary">DRBC Web</a>
</div>